.date-time{
    height: 4rem;
    position: sticky;
    top: 0;
    ion-badge{
        margin-right: 1rem;
    }
}

div.card-container{
    display: flex;
    height: calc(100% - 8rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & ion-item{
        margin-bottom: 1em;
        & .no-active-cycle{
            text-align: center;
            font-size: 1.5rem;
        }
        & .item-right-margin{
            width: 2rem;
            height: 2rem;
            margin-left: 32px;
        }
    }
    & ion-card {
        width: calc(100% - 20px);
    }
}


.movements{
    ion-icon{
        font-size: 2rem;
    }
    h3{
        font-size: 2rem;
        margin-bottom: 0.5em;
    }
    p{
        font-size: 1.5rem;
        margin-bottom: 0.5em;
    }
}
