.date-time{
    height: 4rem;
}


.buttons-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 8rem);
    width: 90%;
    max-width: 400px;
    margin: auto;

    ion-button{
        margin: 1em 0
    }

    .hidden{
        display: none;
    }
    

}